{% extends 'base.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/registration.css') }}">
{% endblock %}

{% block title %}Passions de {{ app.user.userName }}{% endblock %}

{% block body %}

{# Sidenav desktop #}
{% if app.user %}
{% include('user/sidenav_user.html.twig') %}
{% endif %}

<div class="main" style="background-color: #f1edf6">
    <div class="container-fluid">
        {# Bloc titre #}
        <div class="row" style="background-color: white">
            <div class="col-lg-12">
                <h1 class="text-center title_home my-4">Mes infos</h1>
            </div>
        </div>
        {# Bloc image #}
        <div class="row">
            <img src="{{asset('img/fond/hero_area_inscription.jpg')}}" class="img-fluid" alt="Banière mes infos">
        </div>
        {# Bloc navbar mes infos #}
        <div class="row">
            <div class="col-lg-12">
                <div class="row justify-content-center my-4">
                    <a href="{{ path('user_infos_situation') }}">
                        <img src="{{ asset('img/picto/picto_etapes_situation_bleu.svg') }}" width=" 60px" class="picto_mobile" alt="Picto mes infos">
                    </a>
                    <div class="ligne_bleu"></div>
                    <a href="{{ path('user_infos_physique') }}">
                        <img src="{{ asset('img/picto/picto_etapes_physique_bleu.svg') }}" width=" 60px" class="picto_mobile" alt="Picto mes infos">
                    </a>
                    <div class="ligne_bleu"></div>
                    <a href="{{ path('user_infos_personnalite') }}">
                        <img src="{{ asset('img/picto/picto_etapes_perso_bleu.svg') }}" width=" 60px" class="picto_mobile" alt="Picto mes infos">
                    </a>
                    <div class="ligne_bleu"></div>
                    <a href="{{ path('user_infos_passion') }}">
                        <img src="{{ asset('img/picto/picto_etapes_passion_orange.svg') }}" width=" 60px" class="picto_mobile" alt="Picto mes infos">
                    </a>
                    <div class="ligne_bleu"></div>
                    <a href="{{ path('user_infos_reglage') }}">
                        <img src="{{ asset('img/picto/picto_etapes_reglages_bleu.svg') }}" width=" 60px" class="picto_mobile" alt="Picto mes infos">
                    </a>
                </div>
            </div>
        </div>
        {# Message flash #}
        {% for msg in app.session.flashBag.get('success') %}
        <div class="row no-padding">
            <div class="col-lg-12 alert alert-secondary text-center alert-dismissible fade show mt-4" role="alert">
                {{ msg }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
        {% endfor %}
        {# Bloc formulaire #}
        <div class="row no-padding">
            <div class="col-lg-6 pb-4">
                <div class="bloc_user">
                    <p class="text-center py-2 paragraphe_inscription">Mes passions</p>
                </div>
                <div class="col-lg-7 col-md-7 my-4 mx-auto">
                    {{ form_start(form)}}
                    <div class="form-group">
                        {{ form_label(form.mesActivitesSportives, "Mes activités sportives (5 choix maximum)") }}
                        {{ form_widget(form.mesActivitesSportives, { 'attr': { 'class': 'custom-select' } }) }}
                        {{ form_errors(form.mesActivitesSportives) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.mesActivitesNaturelles, 'Mes activités naturelles (5 choix maximum)') }}
                        {{ form_widget(form.mesActivitesNaturelles, { 'attr': { 'class': 'custom-select' } }) }}
                        {{ form_errors(form.mesActivitesNaturelles) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.mesActivitesArtistiques, 'Mes activités artistiques (5 choix maximum)') }}
                        {{ form_widget(form.mesActivitesArtistiques, { 'attr': { 'class': 'custom-select' } }) }}
                        {{ form_errors(form.mesActivitesArtistiques) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.mesActivitesCerebrales, 'Mes activités cérébrales (5 choix maximum)') }}
                        {{ form_widget(form.mesActivitesCerebrales, { 'attr': { 'class': 'custom-select' } }) }}
                        {{ form_errors(form.mesActivitesCerebrales) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.mesDivertissements, 'Mes divertissements (5 choix maximum)') }}
                        {{ form_widget(form.mesDivertissements, { 'attr': { 'class': 'custom-select' } }) }}
                        {{ form_errors(form.mesDivertissements) }}
                    </div>
                </div>
            </div>
            <div class="col-lg-6 pb-4"  style="background-color: #e8e3ef">
                <div class="bloc_recherche">
                    <p class="text-center py-2 paragraphe_inscription">Ses passions</p>
                </div>
                <div class="col-lg-7 col-md-7 my-4 mx-auto">
                    {{ form_start(form)}}
                    <div class="form-group">
                        {{ form_label(form.sesActivitesSportives, "Ses activités sportives (5 choix maximum)") }}
                        {{ form_widget(form.sesActivitesSportives, { 'attr': { 'class': 'custom-select' } }) }}
                        {{ form_errors(form.sesActivitesSportives) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.sesActivitesNaturelles, 'Ses activités naturelles (5 choix maximum)') }}
                        {{ form_widget(form.sesActivitesNaturelles, { 'attr': { 'class': 'custom-select' } }) }}
                        {{ form_errors(form.sesActivitesNaturelles) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.sesActivitesArtistiques, 'Ses activités artistiques (5 choix maximum)') }}
                        {{ form_widget(form.sesActivitesArtistiques, { 'attr': { 'class': 'custom-select' } }) }}
                        {{ form_errors(form.sesActivitesArtistiques) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.sesActivitesCerebrales, 'Ses activités cérébrales (5 choix maximum)') }}
                        {{ form_widget(form.sesActivitesCerebrales, { 'attr': { 'class': 'custom-select' } }) }}
                        {{ form_errors(form.sesActivitesCerebrales) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.sesDivertissements, 'Ses divertissements (5 choix maximum)') }}
                        {{ form_widget(form.sesDivertissements, { 'attr': { 'class': 'custom-select' } }) }}
                        {{ form_errors(form.sesDivertissements) }}
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-warning btn-block py-3 bloc_btn">Hop, je met à jour cette page :)</button>
            {{ form_end(form) }}
        </div>

        {# Navbar mobile #}
        <div class="mt-5 navbar_mobile">
            {% if app.user %}
            {% include('user/navbar_mobile.html.twig') %}
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}

